################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ROAV-Concat
/ROAV-Concat.vcxproj.user
/x64/Debug
/ROAV-Concat.aps
/.vs
/ROAV-Concat/x64/Release
/x64/Release
